<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Experius_ShopLocator::shoplocator" sortOrder="10" title="Shop locator">
                    <resource id="Experius_ShopLocator::index" sortOrder="10" title="index index"/>
                    <resource id="Experius_ShopLocator::shop_listing" sortOrder="10" title="Shop listing"/>
                    <resource id="Experius_ShopLocator::shop_edit" sortOrder="10" title="Shop form"/>
                    <resource id="Experius_ShopLocator::shop_save" sortOrder="10" title="Shop save"/>
                    <resource id="Experius_ShopLocator::shop_delete" sortOrder="10" title="Shop delete"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>